# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcworkspace
*.xcodeproj/project.xcworkspace/

# Swift Package Manager
/.build/
Packages
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock
Podfile

# Carthage
Carthage/Build/

# SwiftPM/Swift Packages
.swiftpm/
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Xcode Patch Files
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.perspectivev3

# Swift Playgrounds
timeline.xctimeline
playground.xcplayground

# App-specific files
.env
Secrets.swift

# Xcode logs
*.xcactivitylog

# User-specific files
*.swp
*.swo
*.swm
.idea/
.vscode/
*.iml

# macOS Finder/Spotlight
*.DS_Store
